body {
  margin-top: -2em;
  background-color: #fbfbfb;
}

a {
  color: #00B7FF;
}

h1 {
	color:#95b43f;
}

h1 a{
	color:#95b43f;
}

h1 a:hover {
	text-decoration: none;
	color:#95b43f;
}

#hiddenbutton a{
	text-decoration: none;
	color: black;
}

.ink-grid {
	padding:0;
}

#header {
	padding-top:1.5em;
	padding-left:2em;
	padding-right:2em;
	border-bottom: solid 1px gray;
}

#footer {
	background-color: #f2f2f2;
	margin:0;
	padding-left:1em;
	padding-right:1em;
	width:100%;
}

#form {
	margin-left:25%;
	margin-top:5%;
	margin-bottom:12%;
	padding:10px;
	padding-right: 40px;
	border: solid 1px gray;
}

#submit {
	padding-left:15%;
	margin-left:10%;
}

#create {
	margin-left: 20%;
}

#createbutton {
	padding-left: 50px;
	padding-right: 50px;
}

#content {
	min-height: 525px;
	background-color: #fbfbfb;
}

#innercontent {
	margin-left: 2em;
}

#sidebar {
	position: relative;
	float: left;
	max-width: 137px;
	min-height: 762px;
	height:100%;
	z-index: 0;
	background-color: black;
	margin-top: -2em;
}

#sidebar nav{
	margin:0;
}

#logoutbutton {
	position:absolute;
	bottom:0px;
	width:100%;
}

#previous {
	float:left;
}

#next {
	float:right;
}

#toolbox {
	float:left;
	padding: 10px;
	margin-left: 10%;
	border: solid 1px gray;
	box-shadow: gray 2px 2px 2px;
}

.tool {
	margin: 10px;
	z-index: 1;
	float:left;
	border: solid 1px black;
}