body {
  margin-top: -2em;
  background-color: #fbfbfb;
}

a {
  color: #00B7FF;
}

h1 {
	color:#95b43f;
}

.ink-grid {
	padding:0;
}

#header {
	padding-top:1.5em;
	padding-left:2em;
	padding-right:2em;
	border-bottom: solid 1px gray;
}

#footer {
	background-color: #f2f2f2;
	margin:0;
	padding-left:1em;
	padding-right:1em;
	width:100%;
}

#form {
	margin-left:25%;
	margin-top:5%;
	margin-bottom:12%;
	padding:10px;
	padding-right: 40px;
	border: solid 1px gray;
}

#submit {
	padding-left:15%;
	margin-left:10%;
}

#create {
	margin-left: 20%;
}

#content {
	min-height: 525px;
	background-color: #fbfbfb;
}

#sidebar {
	position: relative;
	float: left;
	width: 137px;
	min-height: 525px;
	height:100%;
	z-index: 0;
	background-color: black;
	margin-top: -2em;
}

#sidebar nav{
	margin:0;
}

#logoutbutton {
	position:absolute;
	bottom:0px;
	width:100%;
}