<% include header %>
<% include sidebarInstructor %>
        <style type="text/css">

            body {
                background: #ededed;
            }

            header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
            }

            article header{
                padding: 0;
                overflow: hidden;
            }

            article footer {
                background: none;
            }

            article {
                padding-bottom: 2em;
                border-bottom: 1px solid #ccc;
            }

            .date {
                float: right;
            }

            summary {
                font-weight: 700;
                line-height: 1.5;
            }

            footer {
                background: #ccc;
            }
        </style>

    <body>

        <div class="ink-grid">

            <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern  browser</a> to improve your web experience.
                </p>
            </div>
            <![endif]-->

            <!-- Add your site or application content here -->

           

            
			<div class="column-group gutters article"> 
			 
              
				<div class="all-80">
                    <article>
                        <header>
                            <h1 class="push-left">Assignment List</h1>
							<form action="questionListInstructor">
							<button style="float:right;">New</button>
							</form>
                           
                        </header>
						<style>
						table, th, td {
							border: 1px solid black;
							border-collapse: collapse;
						}
						th, td {
							padding: 5px;
						}
						</style>
                        <table style="width:100%">
							<tr>
								<th>Assignment Number</th>
								<th>Assignment Grade</th>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionListInstructor">Assignment #1</a></td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionListInstructor">Assignment #2</a></td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionListInstructor">Assignment #3</a></td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionListInstructor">Assignment #4</a></td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionListInstructor">Assignment #5</a></td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionListInstructor">Assignment #6</a></td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionListInstructor">Assignment #7</a></td>
								<td>Grade on Assignment</td>
							</tr>
						</table>
						<form action="AssignmentListInstructor">
						<button style="float:left;" class = "ink-button">Previous</button>
						</form>
						<form action="AssignmentListInstructor">
						<button style="float:right;" class = "ink-button">Next</button>
						</form>
					
						
						
                        
                    </article>
                </div>
				
				
				
			</div>	
				
            
            
        </div>
 <% include footer %>