</div>
<footer id="footer" class="clearfix">
            <div class="ink-grid">
                <ul class="unstyled inline half-vertical-space">
                    <li class="active"><a href="#">About</a></li>
                    <li><a href="#">Sitemap</a></li>
                    <li><a href="#">Contacts</a></li>
                </ul>
                <p class="note">Copyright KIWI ER Diagram Tutoring System of The A Team.</p>
            </div>
		</footer>
    </body>
</html>