<!DOCTYPE html>
<html lang="en">
	<head>
		<title>KIWIER</title>
    	<!-- Load Ink's style from CDN -->
    	<link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.1/css/ink-flex.min.css">
    	<link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.1/css/font-awesome.min.css">
    	<link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    	<script src="//code.jquery.com/jquery-1.10.2.js"></script>
    </head>
    <body>

            <div id="content" class="ink-grid">

            <header id="header" class="vertical-space">

                <h1><a href="/login">KIWI</a><small> ER Diagram Tutoring System</small></h1>
            
            </header>