<% include header %>
<% include sidebarInstructor %>
        <style type="text/css">

            body {
                background: #ededed;
            }

            header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
            }

            article header{
                padding: 0;
                overflow: hidden;
            }

            article footer {
                background: none;
            }

            article {
                padding-bottom: 2em;
                border-bottom: 1px solid #ccc;
            }

            .date {
                float: right;
            }

            summary {
                font-weight: 700;
                line-height: 1.5;
            }

            footer {
                background: #ccc;
            }
        </style>

    <body>

        <div class="ink-grid">

            <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern  browser</a> to improve your web experience.
                </p>
            </div>
            <![endif]-->

            <!-- Add your site or application content here -->

            

            
			 
			<div class="column-group gutters article"> 
			 
              
				<div class="all-60">
                    <article>
                        <header>
                            <h1 class="push-left">Question #1</h1>
                           
                        </header>
                        <summary>Draw a Chen-style diagram with two entities and one relation.</summary>
                        <figure class="ink-image vertical-space">
                            <div id="myHolder"></div>
                        </figure>
						<summary>Feedback: Don't forget, you need two entities and a relation between them!</summary>
						<form action="questionListInstructor">
						<button style="float:left;" class = "ink-button">Remove</button>
						</form>
						<form action="questionListInstructor">
						<button style="float:right;" class = "ink-button">Back</button>
						</form>

					
						
						
                    </article>
                </div>
				
				
			</div>	
				
				
            
            
        </div>
<% include footer %>


<link rel="stylesheet" type="text/css" href="http://www.jointjs.com/downloads/joint.css" />
<script type="text/javascript" src="http://www.jointjs.com/downloads/joint.js" ></script>
<script type="text/javascript" src="javascripts/joint.shapes.erd.js" > </script>

<script>
$(function () {
$(document).ready(function(){
var graph = new joint.dia.Graph;

var paper = new joint.dia.Paper({
    el: $('#myHolder'),
    width: 800,
    height: 600,
    gridSize: 1,
    model: graph
});

var erd = joint.shapes.erd;
console.log(erd)

var element = function(elm, x, y, label) {
    var cell = new elm({ position: { x: x, y: y }, attrs: { text: { text: label }}});
    graph.addCell(cell);
    return cell;
};

var link = function(elm1, elm2) {
    var myLink = new erd.Line({ source: { id: elm1.id }, target: { id: elm2.id }});
    graph.addCell(myLink);
    return myLink;
};




$("#t2").click(function(){
var temp = element(erd.Entity, 150, 273, "Entity");
});
$("#t2").click(function(){
var temp = element(erd.Entity, 150, 273, "Entity");
});
$("v-2").click(function(){
var temp = element(erd.Entity, 150, 273, "Entity");
});

$(document).keypress(function( event ) {
  if ( event.which == 13 ) {
     graph.clear()
  }
  
 
});

});
});
</script>
