<% include header %>
<% include sidebarInstructor %>
        <style type="text/css">

            body {
                background: #ededed;
            }

            header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
            }

            article header{
                padding: 0;
                overflow: hidden;
            }

            article footer {
                background: none;
            }

            article {
                padding-bottom: 2em;
                border-bottom: 1px solid #ccc;
            }

            .date {
                float: right;
            }

            summary {
                font-weight: 700;
                line-height: 1.5;
            }

            footer {
                background: #ccc;
            }
        </style>

    <body>

        <div class="ink-grid">

            <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern  browser</a> to improve your web experience.
                </p>
            </div>
            <![endif]-->

            <!-- Add your site or application content here -->

            

            
			 
			 
			 
              
				<div class="all-60">
                    <article>
                        <header>
                            <h1 class="push-left">Question Number</h1>
                           
                        </header>
                        <summary>Question text stuff </summary>
                        <figure class="ink-image vertical-space">
                            <img src="holder.js/1200x600/auto/ink" alt="">
                        </figure>
						<summary>Feedback goes here</summary>
						<form action="questionListInstructor">
						<button class = "ink-button">Select</button>
						</form>
						<form action="questionBankInstructor">
						<button class = "ink-button">Back</button>
						</form>

					
						
						
                    </article>
                </div>
				
				
				
				
				
            
            
        </div>
<% include footer %>