<% include header %>
<% include sidebar %>

        <style type="text/css">

            body {
                background: #ededed;
            }

            header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
            }

            article header{
                padding: 0;
                overflow: hidden;
            }

            article footer {
                background: none;
            }

            article {
                padding-bottom: 2em;
                border-bottom: 1px solid #ccc;
            }

            .date {
                float: right;
            }

            summary {
                font-weight: 700;
                line-height: 1.5;
            }

            footer {
                background: #ccc;
            }
        </style>

    <body>

        <div class="ink-grid">

            <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern  browser</a> to improve your web experience.
                </p>
            </div>
            <![endif]-->

            <!-- Add your site or application content here -->

            

            <div class="column-group gutters article">
			 
			 
              
				<div class="all-80">
                    <article>
                        <header>
                            <h1 class="push-left">Assignment #1</h1>
							
                           
                        </header>
						<style>
						table, th, td {
							border: 1px solid black;
							border-collapse: collapse;
						}
						th, td {
							padding: 5px;
						}
						</style>
                        <table style="width:100%">
							<tr>
								<th>Question Number</th>
								<th>Question Description</th>
								<th>Grade</th>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionSubmitStudent">Question #1</a></td>
								<td>Draw a Chen-style ER diagram.</td>
								<td>0/10</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionSubmitStudent">Question #2</a></td>
								<td>Draw a Crow's Foot-style ER diagram.</td>
								<td>0/10</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionSubmitStudent">Question #3</a></td>
								<td>Draw a Chen-style ER diagram.</td>
								<td>0/10</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionSubmitStudent">Question #4</a></td>
								<td>Draw a Crow's Foot-style ER diagram.</td>
								<td>0/10</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionSubmitStudent">Question #5</a></td>
								<td>Draw a Chen-style ER diagram.</td>
								<td>0/10</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionSubmitStudent">Question #6</a></td>
								<td>Draw a Crow's Foot-style ER diagram.</td>
								<td>0/10</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionSubmitStudent">Question #7</a></td>
								<td>Draw a Chen-style ER diagram.</td>
								<td>0/10</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionSubmitStudent">Question #8</a></td>
								<td>Draw a Crow's Foot-style ER diagram.</td>
								<td>0/10</td>
							</tr>
							<tr align="center">
								<td id="hiddenbutton"><a href="/questionSubmitStudent">Question #9</a></td>
								<td>Draw a Chen-style ER diagram.</td>
								<td>0/10</td>
							</tr>
						</table>
<!-- 						<form action="questionListStudent">
						<button>Previous</button>
						</form>
						<form action="questionListStudent.">
						<button>Next</button>
						</form> -->
					
						
						
                        
                    </article>
                </div>
				
				
				
				
			</div>	
            
            
        </div>
        
<%include footer %>