<div class = "column-group" id="sidebar">		
	<nav class="ink-navigation xlarge-push-right large-push-right half-top-space left-space">
        <ul class="menu vertical black">
            <li class="active"><a href="#">Assignments</a></li>
        </ul>
        <ul class="menu vertical black" id="logoutbutton">
  			<li><a href="#">LOGOUT</a></li>
        </ul>
    </nav>
</div>