<% include header %>
<% include sidebar %>

  <style type="text/css">

            body {
                background: #ededed;
            }

            header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
            }

            article header{
                padding: 0;
                overflow: hidden;
            }

            article footer {
                background: none;
            }

            article {
                padding-bottom: 2em;
                border-bottom: 1px solid #ccc;
            }

            .date {
                float: right;
            }

            summary {
                font-weight: 700;
                line-height: 1.5;
            }
        </style>
    </head>

    <body>

        <div class="ink-grid">

            <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern  browser</a> to improve your web experience.
                </p>
            </div>
            <![endif]-->

            <!-- Add your site or application content here -->

            

            <div class="column-group gutters article"> 
              
				<div class="all-80">
                    <article>
                        <header>
                            <h1 class="push-left">Assignment List</h1>
							
                           
                        </header>
						<style>
						table, th, td {
							border: 1px solid black;
							border-collapse: collapse;
						}
						th, td {
							padding: 5px;
						}
						</style>
                        <table style="width:100%">
							<tr>
								<th>Assignment Number</th>
								<th>Assignment Grade</th>
							</tr>
							<tr align="center">
								<td>Assignment #1</td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td>Assignment #2</td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td>Assignment #3</td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td>Assignment #4</td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td>Assignment #5</td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td>Assignment #6</td>
								<td>Grade on Assignment</td>
							</tr>
							<tr align="center">
								<td>Assignment #7</td>
								<td>Grade on Assignment</td>
							</tr>
						</table>
						<button>Previous</button>
						<input type="button" value="Next" style="float: right;">

					
						
						
                        
                    </article>
                </div>
				

<% include footer %>
