

        <style type="text/css">

            body {
                background: #ededed;
            }

            header h1 small:before  {
                content: "|";
                margin: 0 0.5em;
                font-size: 1.6em;
            }

            article header{
                padding: 0;
                overflow: hidden;
            }

            article footer {
                background: none;
            }

            article {
                padding-bottom: 2em;
                border-bottom: 1px solid #ccc;
            }

            .date {
                float: right;
            }

            summary {
                font-weight: 700;
                line-height: 1.5;
            }

            footer {
                background: #ccc;
            }
        </style>

        <script>
            $(function() {
                $( "img" ).draggable();
            });
        </script>

    <body>

        <div class="ink-grid">

            <!--[if lte IE 9 ]>
            <div class="ink-alert basic" role="alert">
                <button class="ink-dismiss">&times;</button>
                <p>
                    <strong>You are using an outdated Internet Explorer version.</strong>
                    Please <a href="http://browsehappy.com/">upgrade to a modern  browser</a> to improve your web experience.
                </p>
            </div>
            <![endif]-->

            <!-- Add your site or application content here -->

            

				
				<div id="toolbox" class="column-group gutters article">
					<header>

						<h1 class = "">TOOLBOX</h1>

                        <div class="ink-flex push-left vertical">
						<!-- <form style="float: left" action=""> -->
						<img id="t1" draggable="true" class="tool" src="attribute.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form style="padding-left: 10px" action=""> -->
						<img id ="t2" draggable="true" class="tool" src="entity.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form style="float: left" action=""> -->
						<img id ="t3" draggable="true" class="tool" src="relationship.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form action=""> -->
						<img id ="t4" draggable="true" class="tool" src="text.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form style="float: left" action=""> -->
						<img id ="t5" draggable="true" class="tool" src="chenManyToMany.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form action=""> -->
						<img id ="t6" draggable="true" class="tool" src="chenManyToOne.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form style="float: left" action=""> -->
						<img id ="t7" draggable="true" class="tool" src="chenOneToMany.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form action=""> -->
						<img id ="t8" draggable="true" class="tool" src="chenOneToOne.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form style="float: left" action=""> -->
						<img id ="t9" draggable="true" class="tool" src="crowManyToMany.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form action=""> -->
                        </div>
                        <div class="ink-flex push-left vertical">
						<img id ="t10" draggable="true" class="tool" src="crowManyToOne.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form style="float: left" action=""> -->
						<img id ="t11" draggable="true" class="tool" src="crowOneToMany.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form action=""> -->
						<img id ="t12" draggable="true" class="tool" src="crowOneToOne.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form style="float: left" action=""> -->
						<img id ="t13" draggable="true" class="tool" src="oneAndOnlyOne.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form action=""> -->
						<img id ="t14" draggable="true" class="tool" src="oneOrMore.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form style="float: left" action=""> -->
						<img id ="t15" draggable="true" class="tool" src="zeroOrMore.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form action=""> -->
						<img id ="t16" draggable="true" class="tool" src="zeroOrOne.jpg" name="image" width="48" height="48">
						<!-- </form> -->
						<!-- <form style="float: left" action=""> -->
						<img id ="t17" draggable="true" class="tool" src="line.jpg" name="image" width="48" height="48"><br>
						<!-- </form> -->
					   </div>

                       </header>
				</div>
				
				
            
            
        </div>
